body {
background-color: rgba(128, 128, 128, 0.425);
}

.advicebox {
    width: 400px;
    height:250px;
    background-color: rgba(169, 169, 169, 0.621);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 40px;
    position: relative;
}

/* .advicebox > img {
    position: absolute;
    left: 9px;
    bottom: 40;
} */

.advicebox{
    text-align: center;
    color: black;
    letter-spacing: 2px;
}

.advice{
    font-size: 21px;
    color: white;
    text-align: center;
    line-height: 1.6;
}

 .advicebox > .dice {
    position:absolute;
    border-radius: 100%;
    background-color: white;
    height: 60px;
    width: 60px;
    bottom:-25px;
    left: 50px;
    margin-left: 160px;
    /* background-image: url(./dice.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid  black(255, 255, 255, 0.71);
}
.divider {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
/* .advice{
    font-size:  22px;
    font-weight: bold;
    line-height: 1.6;
    display: block;
    margin-bottom: 30px;
    opacity: 0;
} */
